streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
xgboost
lightgbm
catboost
optuna
shap
joblib
scipy
mlflow
openpyxl
imbalanced-learn
ydata-profiling
streamlit-option-menu
streamlit-aggrid
streamlit-extras
